/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*-----| Button WP component style
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.cmp-pdf {
    padding: 15px;
    font-size: 0.7rem;
    width: 695px;
    margin: auto;
    color: red;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*-----| Button WP component style
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.cmp-wp-button {
    padding: 5px 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
    background-color: rgb(37, 211, 102);
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*-----| Navbar component style
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.cmp-navbar {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 999;
    height: var(--app-navbar-height);
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*-----| Form component style
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.cmp-float-label {
    position: relative;
}

.cmp-float-label label {
    position: absolute;
    pointer-events: none;
    top: calc(var(--app-items-height) / 6);
    left: var(--app-space-lg);
    transition: all .2s;
}

.cmp-float-label input:focus+label,
.cmp-float-label input:not(:placeholder-shown)+label {
    font-size: var(--app-font-sm);
    transform: translateY(-140%);
}

.cmp-float-label input::placeholder {
    color: transparent;
}